<% if (problem_set.get('today')) { %>
  <b><a href="#problemsets/<%=problem_set.id %>"><%= problem_set.escape('title') %></a></b>
<% } else if (problem_set.get('complete')) { %>
  <strike><a href="#problemsets/<%=problem_set.id %>"><%= problem_set.escape('title') %></a></strike>
<% } else { %>
  <a href="#problemsets/<%=problem_set.id %>"><%= problem_set.escape('title') %></a>
<% }%>
